.language {
  text-align: center;
}

h1 {
  background-color: #3c7f90;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
